html,
body {
    height: 100%;
}

.myCard {
    width: 100%;
    display: flex;
    border: 2px solid var(--main-purple-dark);
    border-radius: 8px;
    align-items: center;
    padding: 25px;
    margin-bottom: 30px;
}

.btnConhecer {
    background-color: transparent;
    border: 2px solid var(--main-purple-dark);
    border-radius: 8px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-purple-dark);
    transition: all .5s;
    float: right;
}

.btnConhecer:hover {
    background-color: var(--main-purple-dark);
    color: var(--white);
}

@media (max-width: 415px) {
    .myCard {
        flex-direction: column;
    }
}