html,
body {
    height: 100%;
}

.scene--card {
    width: 100%;
    min-height: 250px;
    height: 100%;
    perspective: 600px;
}

.scene {
    /* border: 1px solid #CCC; */
    position: relative;
}

.myCard.is-flipped {
    transform: rotateY(180deg);
}

.myCard {
    width: 100%;
    min-height: 300px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    border: 2px solid var(--main-purple-dark);
    border-radius: 28px;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
}

.card__face h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white);
}

.card__face h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

.card__face h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.card__face p {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin: 0;
}

.card__face--front div:first-child {
    width: 60%;
}

.card__face--front div:last-child {
    width: 40%;
}

.card__face--back {
    transform: rotateY(180deg );
}

.card__face--back .textMyCard h4 {
    text-align: center;
}

@media(max-width: 415px) {
    .card__face--back {
        flex-direction: column;
    }
}